h1 {
  text-align: center;

}

li {
font-size: 20px;

}

p {
font-size: 20px;

}

.sidebar {
  width: 30%;
  float: left;
  background-color: skyblue;
  border: solid;
  padding: 5px;
  margin: 10px 20px;


}

img {
  float: right;
  padding: 10px;

}
